.headertext {
  color: #eee;
}

.signupform {
  padding: 1%;
  left: 60px;
  position: absolute;
}

#map-current-location {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: relative;
  left: 0px;
}

#main-content {
  display: grid;
  grid-template-rows: 70vh 1fr;
}

#maps_container {
  position: relative;
}

#all_maps {
  grid-row: 3;
  height: 30vh;
  z-index: 1;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  justify-content: space-evenly
}

.card {
  width: 20vw;
  margin: 10px;
  flex: 0 0 auto;
  display: inline-block;
  padding: 10px;
  
}
.card-image-top {
  width: 15vw;
  height: 15vh;
  border: 2px solid black;
  border-radius: 5px;
}

#page-header {
  position: sticky;
  top: 0;
}
/* 
#smallmapdiv {
  width: 100px;
  height: 100px;
} */

#bigmapdiv {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: relative;
  left: 0px;
}
