.headertext {
  color: #eee;
}

.signupform {
  padding: 1%;
  left: 60px;
  position: absolute;
}

#map-current-location {
  width: 100vw;
  height: 100vh;
  z-index: 0;
  position: relative;
  left: 0px;
}

#main-content {
  display: grid;
  grid-template-rows: 600px 1fr;
}

#maps_container {
  position: relative;
}

#all_maps {
  grid-row: 3;
  height: 100px;
  z-index: 1;

  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.card {
  flex: 0 0 auto;
  width: 200px;
}

#page-header {
  position: sticky;
  top: 0;
}
